p{
    padding: 20;
    
}

.profiles{
    
        height: 800px;
        width: 400px;
        overflow-y: scroll;
        margin-top: 10px; 
        
    
}

.profileContainer{
    background-color: azure;
    width: 420px;
    height: 630px;
    padding: 20px;
    
}

.hold{
    height: 900;
}

.listButton{
    margin-bottom: 10px; 
}

.personButton{
    margin-top: 5px; 
}

.listScroll{
    height: 550px;
    width: 400px;
    overflow-y: scroll;
}

.squish2{
    height: 35px;
    width: 110px;
    font-size: 15px;
    
}

.equal{
    width: 100px;
}