.listButton{
    top-margin: 20px; 
}

.butts{
    margin-top: 50px; 
}

.title{
    align-items: center;
}

.welcome{
    margin: auto;
}

.faq{
    
    height: 500px;
    width: 360px;
    overflow-y: scroll;
    margin-top: 10px; 
    

}